@import "./variables.scss";

.main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  min-height: 100vh;
}

.button {
  padding: 5px;
  border: 1px solid $button-color;
  color: $button-color;
  border-radius: 5px;
}

.buttonWrapper {
  display: flex;
  gap: 10px;
}

.header {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px 0;
}

.link {
  color: black;
}

.activeLink {
  color: $button-color;
}
